<!DOCTYPE html>
<html lang="en">

<head>
	<title>POP CAMBODIA</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="POP CAMBODIA"/>
    <meta name="description" content="POP CAMBODIA, Building Your professional business branding into the real world. "/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Custom Theme files -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link href="css/style.css" rel='stylesheet' type='text/css' >
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
	
    <link rel="shortcut icon" type="image/x-icon" href="images/POP_logo.jpg">
	<!--//fonts-->
    <style type="text/css">
	.circular {
			width: 160px;
			height: 160px;
			border-radius: 85px !important;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			/*background: url("/public/img/logo_ico.png") no-repeat;*/
			box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		}
</style>
</head>

<body>
	<!--background-->
	<h1>Our website is coming soon....</h1>
	<p class="paragraph-w3ls">Building Your professional business branding into the real world.</p>
	<div class="bg-agile">
		<div class="main-info-w3-agileits">
			<div class="w3ls_footer_grid_left">
            	<center>
            		<div><img src="images/POP_logo.jpg" width="140" style="padding:5px 5px; margin-top:5px;background-color: #4b4a4d;
border: 1px solid #27282a;      
border-radius: 50% 50% 50% 50%;      
padding: 4px;"></div><br/>
				</center>
				<h5 class="sub-hdg">follow Us</h5>
				<ul class="w3l-social">
					<li><a href="https://www.facebook.com/popagency.cambodia/" class="fa fa-facebook" target="_blank"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a>
					<!--<li><a href="#" class="fa fa-google-plus"></a></li>-->
				</ul>

			</div>

		</div>
		<div class="clear"></div>
	</div>
	<!--newsletter-agileinfo-->
	<div class="newsletter-agileinfo">
		<h2>Contact Us</h2>
        
		<form action="#" method="post">
			<span class="fa fa-phone" aria-hidden="true"></span>
			<input type="email" disabled name="Email" size="60" required="" placeholder="Enter your phone" value="(855)81 639 996" />
		</form>
        <form action="#" method="post">
			<span class="fa fa-envelope-o" aria-hidden="true"></span>
			<input type="email" disabled name="Email" size="60" required="" placeholder="Enter your email" value="info@popcambodia.com"/>
		</form>
        <form action="#" method="post">
			<span class="fa fa-globe" aria-hidden="true"></span>
			<input type="email" disabled name="Email" size="60" required="" placeholder="Enter your web" value="www.popcambodia.com"/>
		</form>
	</div>
	<!--//newsletter-agileinfo-->
	<!--copyright-->
	<div class="copy w3ls">
		<p>&copy; 2018 POP CAMBODIA Coming Soon. All Rights Reserved | Design by <a href="http://pingitgroup.com/" target="_blank">PING INFORMATION TECHNOLOGY GROUP</a></p>
	</div>
	<!--//copyright-->
	<!--//background-->
</body>

</html>